@model WebApplication1.Domain.Core.Fonari

@{
    Layout = "~/Views/Shared/_Product.cshtml";
    ViewBag.Title = "Фонари";
}
<div class="bread">
    <nav class="breadcrumb">
        @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Каталог товаров", "Catalog", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Ножи, Фонари, Груза", "Nozhi_fonari_gruza", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Фонари", "List", "Fonari", new { area = "" }, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item active">@Model.Name</span>
    </nav>
</div>
<div class="razdel">
    <h3>Фонарь @Model.Name</h3>
</div>
<hr />
<div class="container-fluid">

    <div class="row">
        <div class="col-md-5">
            <div class="pictureDetails" href="#">
                @if (Model.ImageData != null)
                {
                    <img src="@Url.Action("GetImage", "Fonari", new { Model.Id })" />
                }
            </div>
        </div>
        <div class="col-md-5 ml-auto">
            <div class="headingName text-center font-weight-bold">
                @Model.Name
            </div>
            <div class="heading font-weight-bold">
                Характеристики
            </div>
            <div class="properyTable">
                <div class="propertyName">
                    Производитель
                </div>
                <div class="propertyValue">
                    @Model.Brand.Name
                </div>
            </div>
            <div class="properyTable">
                <div class="propertyName">
                    Страна
                </div>
                <div class="propertyValue">
                    @Model.Brand.Country
                </div>
            </div>
            <div class="properyTable">
                <div class="propertyName">
                    Тип лампы
                </div>
                <div class="propertyValue">
                    @Model.TypeLamp
                </div>
            </div>
            <div class="properyTable">
                    <div class="propertyName">
                        Тип батареи
                    </div>
                    <div class="propertyValue">
                        @if(Model.TypeBattery == "Нет данных") {<span>Нет данных</span>}
                        else {<span>@Model.TypeBattery</span>}
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Световой поток
                    </div>
                    <div class="propertyValue">
                        @if(Model.Svet == 0) {<span>Нет данных</span>}
                        else {<span>@Model.Svet люмен</span>}
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Время работы
                    </div>
                    <div class="propertyValue">
                        @if(Model.TimeWork == 0) {<span>Нет данных</span>}
                        else {<span>@Model.TimeWork часов</span>}
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Количество батарей
                    </div>
                    <div class="propertyValue">
                        @if(@Model.QuantityBattery == 0) {<span>Нет данных</span>}
                        else {<span>@Model.QuantityBattery шт</span>}
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Максимальная рабочая глубина
                    </div>
                    <div class="propertyValue">
                        @if(@Model.MaxGlubina == 0) {<span>Нет данных</span>}
                        else {<span>@Model.MaxGlubina м</span>}
                    </div>
                </div>
        </div>
        <div class="col-md-2 ml-auto">
            <div class="row">
                <a class="price text-center" style="width:100%; margin-top:15px">@Html.DisplayFor(modelItem => Model.Price)<span> грн</span><span class="measure">/шт</span></a>
            </div>
            <div class="row">
                <div class="addCartmodal">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.Hidden("returnId", Model.Id)
                        @Html.Hidden("returnUrl", "/Fonari/List")
                        <input id="cart" type="submit" value="В корзину" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="headingDescriptionName font-weight-bold">
                Описание товара
            </div>
            <div class="headingDescription">
                @Html.Raw(Model.Description)
            </div>

        </div>
    </div>
</div>

