@using WebApplication1.Domain.Core
@using WebApplication1.Models
@using WebApplication1.Helpers
@model IndexView

@{
    Layout = "~/Views/Shared/_CatalogTovarov.cshtml";
    ViewBag.Title = "Арбалетные зацепы";
}

<div class="bread">
    <nav class="breadcrumb">
        @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Каталог товаров", "Catalog", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Ружья", "Ruzhya", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Аксессуары к ружьям", "Aksessuary_k_ruzhyam", "Aksessuary", new { area = "" }, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item active">Арбалетные зацепы</span>
    </nav>
</div>
<div class="razdel">
    <h3>Арбалетные зацепы</h3>
</div>


@section SiderBar {

    @using (Ajax.BeginForm("Arbaletniy_zacepModel", "Arbaletniy_zacep", new AjaxOptions { UpdateTargetId = "models" }))
    {
        @Html.Partial("Arbaletniy_zacepFilter")
        <div id="results"></div>
        <div class="item-button">
            <div class="button1">
                <input type="submit" id="submit" value="Показать" />
            </div>
            <div class="button2">
                <input type="button" id="reset" value="Сбросить" />
            </div>
            <div id="cint">

            </div>
        </div>

    }

}

@Html.Partial("Arbaletniy_zacepModel")

<div id="models"></div>

<p class="text">Делаем отправки во все города Украины:  Киев, Харьков, Днепропетровск, Черкассы, Запорожье, Винница, Кировоград, Полтава, Луганск, Ровно, Херсон, Донецк, Луцк, Симферополь, Хмельницкий, Житомир, Львов, Сумы,  Николаев, Тернополь, Чернигов, Ивано-Франковск, Одесса, Ужгород, Черновцы и другие.	</p>

@section Scripts{
    <script>
        $('.dropdown-menu > .dropdown > a').addClass('dropdown-toggle');

        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-menu > .dropdown .show').removeClass("show");
            });
            return false;
        });
    </script>
    <script>
        $(document).ready(function () {
            $("input#reset").click(function () {
                $('input[type=checkbox]').prop('checked', false);
                $('input[type=checkbox]').prop('disabled', false);
                var maxprice = $('input#MaxPrice').val();
                var minprice = $('input#MinPrice').val();
                $('input[name="MaxPrice"]').val(maxprice);
                $('input[name="MinPrice"]').val(minprice);
                $("#slider-range").slider("values", 1, maxprice);
                $("#slider-range").slider("values", 0, minprice);
                myFunction();
            });
        });
    </script>
}

