@model WebApplication1.Domain.Core.Futbolki_i_shorty_dlya_vodnogo_sporta

<div class="modal-content">
    <div class="modal-header getFastViewModal bg-dark">
        <p class="text-center TextModal">Быстрый просмотр</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-4">
                <div class="pictureModal" href="#">
                    @if (Model.ImageData != null)
                    {
                        <img src="@Url.Action("GetImage", "Futbolki_i_shorty_dlya_vodnogo_sporta", new { Model.Id })" />
                    }
                </div>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="headingName text-center font-weight-bold">
                    @Model.Name
                </div>
                <div class="heading font-weight-bold">
                    Характеристики
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Производитель
                    </div>
                    <div class="propertyValue">
                        @Model.Brand.Name
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Страна
                    </div>
                    <div class="propertyValue">
                        @Model.Brand.Country
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Тип
                    </div>
                    <div class="propertyValue">
                        @Model.Type
                    </div>
                </div>
                <div class="properyTable">
                    <div class="propertyName">
                        Пол
                    </div>
                    <div class="propertyValue">
                        @Model.Pol
                    </div>
                </div>
                <div class="headingFooter">
                    @Html.ActionLink("Больше информации о товаре", "Details", new { id = Model.Id }, new { @class = "compItem" })
                </div>
            </div>
            <div class="col-md-3 ml-auto">
                <div class="row">
                    <a class="price text-center" style="width:100%; margin-top:15px">@Html.DisplayFor(modelItem => Model.Price)<span> грн</span><span class="measure">/шт</span></a>
                </div>
                <div class="row">
                    <div class="addCartmodal">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("returnId", Model.Id)
                            @Html.Hidden("returnUrl", "/Futbolki_i_shorty_dlya_vodnogo_sporta/List")
                            <input id="cart" type="submit" value="В корзину" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

