@using WebApplication1.Models
@model IndexView
@{
    ViewBag.Title = "Акции";
}

<h3>Акции</h3>
<br />

<div id="modDialog" class="modal fade bd-example-modal-lg">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered"></div>
</div>

<div class="menu_items">
    <div class="row">
        <div class="tabloid-item col-xl-3 col-lg-6 d-none d-md-block">
                    <div class="marker">
                        Акция
                    </div>
                    <div class="picture">
                        @{
                            var dly_ohoti = Model.Dlya_podvodnoy_okhotys.FirstOrDefault(p => p.Name == "MARLIN Zeus Camo сендвич 7 mm");
                        }
                        @if (dly_ohoti.ImageData != null)
                        {
                            <img src="@Url.Action("GetImage", "Dlya_podvodnoy_okhoty", new { dly_ohoti.Id })" />
                        }
                        @Html.ActionLink("Быстрый просмотр", "DetailsModal", "Dlya_podvodnoy_okhoty", new { id = dly_ohoti.Id }, new { @class = "getFastView" })
                        @Html.Hidden("RedirectTo", Url.Action("Details", "Dlya_podvodnoy_okhoty", new { id = dly_ohoti.Id }))
                    </div>
                    <a class="name" href="@Url.Action("Details", "Dlya_podvodnoy_okhoty", new { id = dly_ohoti.Id })"><span class="middle">@Html.DisplayFor(modelItem => dly_ohoti.Name)</span></a>
                    <a class="price">@Html.DisplayFor(modelItem => dly_ohoti.Price)<span> грн</span><span class="measure">/шт</span></a>
                    <div class="addCart">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("returnId", dly_ohoti.Id)
                            @Html.Hidden("returnUrl", "/Home/Index")
                            <input id="cart" type="submit" value="В корзину" />
                        }
                    </div>
                </div>
                <div class="tabloid-item col-xl-3 col-lg-6 d-none d-md-block">
                    <div class="marker">
                        Акция
                    </div>
                    <div class="picture">
                        @{
                            var percatki = Model.Perchatkis.FirstOrDefault(p => p.Name == "MARLIN SUPERSTRETCH 4 mm, размер М");
                        }
                        @if (percatki.ImageData != null)
                        {
                            <img src="@Url.Action("GetImage", "Perchatki", new { percatki.Id })" />
                        }
                        @Html.ActionLink("Быстрый просмотр", "DetailsModal", "Perchatki", new { id = percatki.Id }, new { @class = "getFastView" })
                        @Html.Hidden("RedirectTo", Url.Action("Details", "Perchatki", new { id = percatki.Id }))
                    </div>
                    <a class="name" href="@Url.Action("Details", "Perchatki", new { id = percatki.Id })"><span class="middle">@Html.DisplayFor(modelItem => percatki.Name)</span></a>
                    <a class="price">@Html.DisplayFor(modelItem => percatki.Price)<span> грн</span><span class="measure">/шт</span></a>
                    <div class="addCart">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("returnId", percatki.Id)
                            @Html.Hidden("returnUrl", "/Home/Index")
                            <input id="cart" type="submit" value="В корзину" />
                        }
                    </div>
                </div>
                <div class="tabloid-item col-xl-3 col-lg-6 d-none d-md-block">
                    <div class="marker">
                        Акция
                    </div>
                    <div class="picture">
                        @{
                            var item = Model.Chekhly_setkis.FirstOrDefault(p => p.Name == "CRESSI Сумка Gorilla");
                        }
                        @if (item.ImageData != null)
                           {
                               <img src="@Url.Action("GetImage", "Chekhly_setki", new { item.Id })" />
                            }
                        @Html.ActionLink("Быстрый просмотр", "DetailsModal", "Chekhly_setki", new { id = item.Id }, new { @class = "getFastView" })
                        @Html.Hidden("RedirectTo", Url.Action("Details", "Chekhly_setki", new { id = item.Id }))
                    </div>
                    <a class="name" href="@Url.Action("Details", "Chekhly_setki", new { id = item.Id })"><span class="middle">@Html.DisplayFor(modelItem => item.Name)</span></a>
                    <a class="price">@Html.DisplayFor(modelItem => item.Price)<span> грн</span><span class="measure">/шт</span></a>
                    <div class="addCart">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                             @Html.Hidden("returnId", item.Id)
                            @Html.Hidden("returnUrl", "/Home/Index")
                              <input id="cart" type="submit" value="В корзину" />
                        }
                    </div>
                </div>
                <div class="tabloid-item col-xl-3 col-lg-6 d-none d-md-block">
                    <div class="marker">
                        Акция
                    </div>
                    <div class="picture">
                        @{
                            var prochee = Model.Prochees.FirstOrDefault(p => p.Name == "PELENGAS Безопасная заряжалка 14 мм");
                        }
                        @if (prochee.ImageData != null)
                        {
                            <img src="@Url.Action("GetImage", "Prochee", new { prochee.Id })" />
                        }
                        @Html.ActionLink("Быстрый просмотр", "DetailsModal", "Prochee", new { id = prochee.Id }, new { @class = "getFastView" })
                        @Html.Hidden("RedirectTo", Url.Action("Details", "Prochee", new { id = prochee.Id }))
                    </div>
                    <a class="name" href="@Url.Action("Details", "Prochee", new { id = prochee.Id })"><span class="middle">@Html.DisplayFor(modelItem => prochee.Name)</span></a>
                    <a class="price">@Html.DisplayFor(modelItem => prochee.Price)<span> грн</span><span class="measure">/шт</span></a>
                    <div class="addCart">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            @Html.Hidden("returnId", prochee.Id)
                            @Html.Hidden("returnUrl", "/Home/Index")
                            <input id="cart" type="submit" value="В корзину" />
                        }
                    </div>
                </div>
    </div>
</div>

<script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".getFastView").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
</script>
<script type="text/javascript">
        $(function () {
            $(".picture").on('click', ':not(a.getFastView)', function () {
                var url = $(this).parent().children("#RedirectTo").val();
                window.location.href = url;
            });
        });
</script>
