@using WebApplication1.Domain.Core
@using WebApplication1.Models
@using WebApplication1.Helpers
@model IndexView

@{
    Layout = "~/Views/Shared/_Product.cshtml";
    ViewBag.Title = "Аксессуары";
}

<div class="bread">
    <nav class="breadcrumb">
        @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Каталог товаров", "Catalog", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        @Html.ActionLink("Гидрокостюмы", "Gidrokostyumy", "Home", new { area = "" }, new { @class = "breadcrumb-item" })
        <span class="breadcrumb-item active">Аксессуары</span>
    </nav>
</div>
<div class="razdel">
    <h3>Аксессуары</h3>
</div>

<div class="row">
    <div class="tabloid-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a class="picture" href="@Url.Action("List", "Utepliteli_dlya_gidrokostyumov", null)">
            <img src="~/Images/Utepliteli_dlya_gidrokostymov.jpg" />
        </a>
        <a class="name text-center" href="@Url.Action("List", "Utepliteli_dlya_gidrokostyumov", null)"><span class="middle">Утеплители для гидрокостюмов</span></a>
    </div>
    <div class="tabloid-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a class="picture" href="@Url.Action("List", "Shlemy", null)">
            <img src="~/Images/shlemi.jpg" />
        </a>
        <a class="name text-center" href="@Url.Action("List", "Shlemy", null)"><span class="middle">Шлемы</span></a>
    </div>
    <div class="tabloid-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a class="picture" href="@Url.Action("List", "Utepliteli_dlya_sukhikh_gidrokostyumov", null)">
            <img src="~/Images/utepliteli_dlya_sukhih_gidrokostymov.jpg" />
        </a>
        <a class="name text-center" href="@Url.Action("List", "Utepliteli_dlya_sukhikh_gidrokostyumov", null)"><span class="middle">Утеплители для сухих гидрокостюмов</span></a>
    </div>
    <div class="tabloid-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a class="picture" href="@Url.Action("List", "Aksessuary_k_gidrokostyumam", null)">
            <img src="~/Images/accesuari_k_gidrokostymam.jpg" />
        </a>
        <a class="name text-center" href="@Url.Action("List", "Aksessuary_k_gidrokostyumam", null)"><span class="middle">Аксессуары к гидрокостюмам</span></a>
    </div>
    <div class="tabloid-item col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <a class="picture" href="@Url.Action("List", "aksessuary_k_sukhim_gidrokostyumam", null)">
            <img src="~/Images/accesuari_k_suhim_gidrokostymam.jpg" />
        </a>
        <a class="name text-center" href="@Url.Action("List", "aksessuary_k_sukhim_gidrokostyumam", null)"><span class="middle">Аксессуары к сухим гидрокостюмам</span></a>
    </div>    
</div>


<p class="text">Делаем отправки во все города Украины:  Киев, Харьков, Днепропетровск, Черкассы, Запорожье, Винница, Кировоград, Полтава, Луганск, Ровно, Херсон, Донецк, Луцк, Симферополь, Хмельницкий, Житомир, Львов, Сумы,  Николаев, Тернополь, Чернигов, Ивано-Франковск, Одесса, Ужгород, Черновцы и другие.	</p>

@section Scripts{


    <script>
        $('.dropdown-menu > .dropdown > a').addClass('dropdown-toggle');

        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-menu > .dropdown .show').removeClass("show");
            });
            return false;
        });
    </script>
}

